.btn-sair{
    background-color: #e4651cb0;
    padding: 8px 18px;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-left: 40px;
    color: #fff;
}
.btn-sair:hover{
    background-color: #ff660da7;
}