.button {
    Button {
        font-family: 'Roboto', sans-serif;
        padding: 14px 25px;
        background-color: transparent;
        border: 0;
        margin: 0 10px;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        transition: .2s all ease-in-out;
    }

    Button:hover {
        background: #e7e7e76e;
    }

    .enter{
        border: 2px solid #f27127;
        color: #f27127;
        padding: 12px 23px;
    }
    .enter:hover{
        background-color: #ff5e0011;
    }
}