.container-home {
    background-color: #fff;
    height: 100vh;

    .nav-home {
        background: #fff;
        display: flex;
        width: 75%;
        margin: auto;
        max-height: 80px;
        align-items: center;
        justify-content: space-between;

        .div-logo {
            width: 150px;
            height: 80px;

            img {
                width: 160px;
            }
        }

        .div-content {
            display: flex;
            margin-right: 10px;
            align-items: center;

            .icon {
                width: 100px;
                margin: 0 10px;
                height: 55px;
                text-align: center;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #cccccc7e;

                svg {
                    width: 25px;
                    fill-opacity: 0.5;
                }

                &.article:hover svg {
                    transition: all 0.2s ease-in-out;
                    fill-opacity: 1;
                }

                p {
                    font-size: .7em;
                }
            }
        }
    }
}