.global-nav-menu {
    background-color: #fff;
    display: flex;
    justify-content: center;
    min-height: 63px;
    max-height: 63px;
    border-bottom: 1px solid #ebebeb;

    .content {
        display: flex;
        width: 73.5vw;
        align-items: center;

        @media (min-width: 1400px) {
            width: 59vw;
        }

        .img {
            border-radius: 4px;
            width: 36px;
        }

        .search-nav {
            flex-grow: 1;
            max-width: 68%;

            input {
                background: #edf3f8;
                width: 280px;
                padding: 9.5px 25px;
                border: 0;
                border-radius: 4px;
                margin: 0 9px;
                transition: all ease-in-out 0.2s;
            }

            input:focus {
                width: 365px;
            }

            .div-input-search {
                display: none;
                opacity: 0;
                position: absolute;
                background-color: #fff;
                padding: 15px 20px;
                width: 368px;
                margin: 1px 6px;
                border-radius: 8px;
                height: 100px;
                z-index: 999;
                border: 1px solid #ccc;
                transition: all ease-in-out 0.2s;
            }

            &.show{
                .div-input-search{
                    opacity: 1;
                    display: block;
                    transition: all ease-in-out 0.2s;
                }
            }
        }

        .global-nav {
            display: flex;
            padding: 0 35px;

            .icon {
                cursor: pointer;
                width: 80px;
                margin: 0 10px;
                height: 55px;
                text-align: center;
                transition: all 0.2s;

                svg {
                    fill: #f27127a7;
                    margin-top: 5px;
                    width: 28px;
                }

                &.home:hover svg,
                &.message:hover svg,
                &.notification:hover svg {
                    fill: #e35f13;
                }

                p {
                    font-size: .7em;
                }
            }
        }

        .div-profile {
            cursor: pointer;
            transition: all .1s ease-in-out;

            img {
                width: 38px;
            }

            p {
                font-size: .8em;
                text-align: center;
            }
        }

        .div-profile:hover {
            opacity: 0.8;
        }
    }
}